@import "utilidades/grid";
@import "utilidades/base";
@import "utilidades/navbar";
@import "utilidades/recuadro";
@import "utilidades/recuadro-specific";
@import "utilidades/mq";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: large;
}

body {
  background: rgb(25, 28, 60);
  background: linear-gradient(0deg, rgba(25, 28, 60, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position-x: center;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.title {
  text-align: center;
  font-size: 100px;

  &.title1 {
    color: aliceblue;
    background-color: transparent;
  }
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: transparent;
}



img {
  width: 80%;
  border-radius: 20px;
}

.item {
  background-color: #3498db00;
  color: white;
  border: 0.3rem solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 1.5rem;
  transition: transform 0.5s;
  background-color: rgba(29, 45, 68, 0.7);

  &:hover {
    transform: translateY(-10px);
  }
}

.imagen1 {
  padding: 20px;
  text-align: center;
  border-radius: 1.5rem;
  transition: transform 0.5s;

  img {
    width: 100%;
    object-fit: cover;
    align-items: center;
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.image-container {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 3.125rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

html,
body {
  overflow-x: hidden;
}

/* footer styles */

footer {
  background-color: #222;
  color: #ccc; 
  padding: 10px; 
  text-align: center; 
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto;
  min-height: 30px; 
}