.item {
    background-color: #3498db00;
    color: white;
    border: 0.3rem solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 1.5rem;
    transition: transform 0.5s;
    background-color: rgba(29, 45, 68, 0.7);
  
    &:hover {
      transform: translateY(-10px);
    }
  }
  